:root {
--primary_color: #0826E6;
--secondary_color: #6DB6FF ;
--third_color: #0D86FF ;
--on_primary:  rgb(245, 245, 245) ;
--on_primary_darker:  rgb(189, 189, 189) ;
--on_secondary: rgb(22, 23, 23) ;
--blue_on_secondary :#061574;
--first_bg_color: #F2F2F2 ;
--second_bg_color: #F5F5F5 ;
--third_bg_color: #DEDEDE ;
--on_background_color: rgb(3, 2, 176) ;
--button-hover: #041687 ;
--button-active: #5970ff ;


--first_split: #F6F9FA ; 
--second_split: #0084F5 ; 
--first_complementary : #F5820C ;
--second_complementary : #F58B00;
--third_complementary : #F59B0C ;
}



body {
	font-size : 1.4rem;
}
	
.header {
	
	padding: 40px 0px 60px 0px;
	background-image : url(other_pics/apps_background2.png);
	background-color : var(--first_bg_color);
	background-repeat: no-repeat;	
	background-size: cover;
}

.header h1{
	font-size : 7rem;
	font-weight : 650;
	line-height: 90%;
	letter-spacing : -3px;
	color : var(--first_split);
}

.header h2{
	font-size : 5rem;
	font-weight : 575;
	line-height: 90%;
	letter-spacing : -1px;
	color : var(--first_split);
}

.responsive-padding{
	padding : 4px 0px;
}

h1{
	color: var(--blue_on_secondary);
	font-size : 3rem;
	letter-spacing : -2px;
	font-weight : 600;
}

h2{
font-size : 3rem;
letter-spacing : -1px;
color : var(--blue_on_secondary);
	
}

h3 {
font-size : 2rem;
letter-spacing : -0.5px;
color : var(--blue_on_secondary);
	
}

a{
color : white;
}


.navbar-custom{
	background-color : var(--secondary_color); /* For browsers that do not support gradients */
	background-image : linear-gradient(5deg,var(--secondary_color),var(--third_color));
	color : var(--on_primary);
	font-size : 1.6rem;
	font-weight : 550;
	padding-left : 30px;
	border-bottom : 1px solid var(--first_complementary);
	border-top : 0px solid var(--on_secondary);
}


.nav-item-custom a:hover{
	color : black;
}

.nav-item-custom-current-link a{
	color: var(--on_primary_darker);
}

.nav-item-custom-current-link a:hover{
	color :var(--on_primary_darker);
}

.current-link, .current-link:hover{
	color: var(--on_primary_darker);
}


.button-custom{
	background-color : var(--second_complementary);
	border-radius : 12px;
	color: var(--on_primary);
	font-weight : 550;
	margin-bottom : 20px;
}

.button-custom:hover {
	background-color : var(--third_complementary);
	color: white;
	font-weight : 550;
	text-decoration: underline;
}


.button-custom:active {
	background-color : var(--first_complementary);	
}

.profile-pic{
	width : 320px;
	max-width: 100%;
	min-width : 220px;
	height: auto;
	border : 3px solid var(--first_complementary);
	box-shadow : 1px 1px 1px;
	
}

.first-section {
	background-color: var(--second_bg_color);
	padding-top : 80px;
	padding-bottom : 110px;
}

.techstack{
	border: 2px solid var(--first_complementary);
	border-radius: 12px;
	background-color : var(--secondary_color);
	box-shadow: 2px 2px 5px gray;
	text-align : center;

}

.techstack ul{
	list-style-type: none;
	padding : 0;
}
.techstack li{
	color : var(--on_secondary);
	font-size : 1.5rem;
	letter-spacing : -1px;
	font-weight : 500;
}


.language-icons-section {
	padding-top : 12px;
	width : 95%;
	margin : auto;
}

.language-icon{
	height: 64px;
	width : 64px;
}

.story-first-section{
	width: 85%;
	margin-top :200px;
	margin-bottom : 20px;
	font-size : 1.4rem;
	padding : 14px 30px;
	background-color : var(--third_bg_color) ;
	border-radius: 0px 30px 0px 30px;
}

.second-section {
	background-color: var(--third_bg_color);
}

.second-section-image{
	opacity : 0.6;
	border-radius : 0px 0px 0px 0px;
	margin-left : 0px;
	width: 97%;
	max-width : 100%;
	min-width : 400px;
	height : auto;
}

.right-article {
	margin : 200px 0px 30px 0px;
}

.footer {
	margin: auto;
	padding : 12px 0px;
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	color : var(--on_secondary);
	background-color : var(--second_bg_color);

}

.contact-information{
	text-align : center;
	margin-top : 32px;
	
}

.first-project {
	background-color : var(--first_bg_color);
	padding-top : 30px;
}

.first-project p {
	line-height : 1.6; 
}

.screenshot{
	max-width : 100%;
	height : auto; 
}

.fcc-screenshot{
	max-width : 100%;
	height : auto; 
}

.first-screenshot-layout{
	width: 90%;
	margin : auto;
}

.first-project-desc{
	margin-left :10px;
	padding : 5px 50px;
	width : 80%;
	background-color : var(--second_complementary)
}


.project-desc-list ul{
	font-size : 1.5rem;
	font-weight : 450;
	list-style-type: none;
	padding: 0;
}

.project-first-desc-list li {
	padding-left : 5px;
	border-bottom : 2px solid;
	border-image: linear-gradient(to right, var(--primary_color) , var(--first_bg_color));
	border-image-slice: 1;
}


.project-second-desc-list li {
	padding-left : 5px;
	border-bottom : 2px solid;
	border-image: linear-gradient(to right, var(--primary_color) , pink);
	border-image-slice: 1;
}

.project-second-desc-list {
	padding : 30px 0px 0px 30px;
}


.project-second-desc-list li {
	padding-left : 5px;
	border-bottom : 2px solid;
	border-image: linear-gradient(to right, orange ,orange);
	border-image-slice: 1;
}


.project-third-desc-list ul  {
		font-size : 1.5rem;
	font-weight : 450;
	list-style-type: none;
	padding: 0;
}
.project-third-desc-list li {
	
		padding-left : 5px;
	border-bottom : 2px solid;
	border-image: linear-gradient(to right, var(--primary_color) , pink);
	border-image-slice: 1;
}


.second-project{
	background-color: orange;
	padding-top: 100px;
	padding-bottom : 120px;
}

.second-project p {
	line-height : 1.6; 
	
}

.second-project-features{
	background-color : var(--third_bg_color);
	padding : 20px 30px;
	margin-top : 10px;
	border-radius: 0px 30px 0px 30px;
}

.second-project-techstack{

	background-color : var(--third_bg_color);
	padding : 20px 30px;
	margin-top : 0px;
	border-radius: 0px 35px 00px 00px;
}

.padding{
	padding : 20px;
}
.bigpadding {
	padding : 50px;
}

.second-description {
	height: 100px;
	width: 45%;
	position: relative;
	bottom: 400px;
	left: 40.5%;
}

.third-project{
	background-color : pink;
	padding-top :120px;
	padding-bottom : 110px;
}

.third-project p {
	line-height : 1.6; 
	
}

.contact-bg{
	background-color : var(--first_bg_color);
}

.contact{
	text-align : center;
	margin: auto;
	padding-top :50px;
	padding-bottom :50px;
	border-radius : 8px;
}

.contact img{
	margin : 20px 0px;
}

.contact ul{
	list-style-type: none;
	padding : 0;
}

.future {
	overflow-x:hidden;
	background-color : var(--second_bg_color);
}

.future-first-image-background{
	padding : 20px 0px 50px 50px;
	background-color : var(--second_complementary);
	margin-left : 150px;
	margin-right : -90px;
}

.future-first-image{
	opacity : 0.8;
	width: 95%;
	max-width : 100%;
	min-width : 500px;
	height : auto;
}
.future-texts-section{
	padding-top : 90px;
}

.future-second-image-background {
		background-color : var(--first_complementary);
		margin-left : -100px;
		padding : 60px 30px 0px 0px;
}

.future-second-image{
	opacity : 0.7;	
	width: 95%;
	max-width : 100%;
	height : auto;
}

.future-third-image-background{
	background-color : var(--third_complementary);
	margin-right : -150px;
	margin-left : 150px;
	padding : 50px 0px 0px 40px;
}


.future-third-image{
	opacity : 0.6;
	width: 95%;
	max-width : 100%;
	min-width : 500px;
	height : auto;
}

.future-responsive-padding{
	padding: 50px 0px;
}

@media screen and (max-width: 1540px){
	
.responsive-padding {
	padding: 10px 0px;
}
}

@media screen and (max-width: 1300px){
	.right-article{
	margin : 20px 0px 0px 0px;
}

.future-responsive-padding{
	padding: 15px 0px;
}

}


@media screen and (max-width: 1000px){
	
.header h1{
	font-size : 5rem;
}

.header h2{
font-size : 4rem;
}

.future-texts-section{
	padding-top : 20px;
}

.responsive-padding {
	padding: 5px 0px;
}

}

@media screen and (max-width: 768px) { 

.header h1{
	font-size : 3rem;
}

.header h2{
font-size : 2rem;
}

.future-texts-section{
	padding-top : 0px;
}

.responsive-padding {
	padding: 3px 0px;
}

.profile-pic{
	margin-top : 10px;
}

.future-responsive-padding{
	padding: 10px 0px;
}

}

@media screen and (max-width: 600px) { 

.header h1{
	font-size : 3rem;
}
.header h2{
	font-size : 2rem;
}

.future-first-image{
margin-left: 70px;
}

.future-first-image-background{
	
	margin-left: 50px;
	
}

}


